@use '../utils'as *;

.box {
  width: 100%;
  height: 100vh;
  // background-color: red;
  background: linear-gradient($bg-color, $black);
}

body {
  // overflow-x: hidden;
  // background-color: $bg-color;
  // background-color: $black;
}

.intro__state {
  .state {
    &__heading {
      font-size: 5vmin;
      @include flexbox(row, center, center);
      width: 100%;
      height: 100vh;
      color: white;
      text-align: center;
      // transform: translateX(-150px);
      // opacity: 0;
      // background-color: $black;
    }

    &__heading.is-active {
      transition: background 2000ms;
      background-color: $black;
    }

    @keyframes typing {
      from {
        width: 0
      }
    }

    @keyframes blink {
      50% {
        border-color: transparent
      }
    }

    &__heading.show span {
      width: 22ch;
      animation: typing 2s steps(22), blink .5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
    }

    &__image::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, .4);
    }

    &__image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 160%;
      object-fit: cover;
      z-index: -1;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      color: white;
      text-align: center;
      background-color: $bg-color;
    }

    &__desc-wrapper {
      @include flexbox(row, flex-start, center);
      width: 100%;
      height: 100vh;
      background-color: $bg-color;
      position: relative;
      // padding: 2%;
      // background-color: skyblue;
    }

    &__video {
      width: 48%;
      border: 3px solid #cccccc;
      border-radius: rem(16px);
      overflow: hidden;
      background: #ffffff;
      box-shadow: 1px 1px 5px 1px #CCCCCC;
      opacity: 0;
      // margin-left: 1%;
      transform: translateX(-150px);
    }

    &__desc-wrapper.show .state__video {
      opacity: 1;
      transform: translateX(0);
      transition: all 1s;
    }

    &__desc {
      font-size: 1.6vw;
      line-height: 1.5;
      position: absolute;
      padding: 0 2% 0 50%;
      opacity: 0;
      transform: translateX(150px);

      >b {
        font-size: 1.8vw;
      }
    }

    &__desc-wrapper.show .state__desc {
      opacity: 1;
      transform: translateX(0);
      transition: 3s;
    }
  }

  @at-root .content {
    &__inner {
      @include flexbox(row, center, center);
      position: relative;
      width: 100vw;
      max-height: 100vh;
      overflow: hidden;

      &::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (16 / 9));
      }
    }

    &__subject {
      --padding: 1.5vmin;
      --duration: 400ms;
      --delay: calc(var(--duration) / 2);
      --ease: cubic-bezier(0.25, 1, 0.5, 1);

      position: relative;
      display: inline-block;
      font-size: 10vmin;
      overflow: hidden;
      margin-top: calc(var(--padding) * -1);
      padding: var(--padding);
      z-index: 999;

      &::after {
        content: "";
        position: absolute;
        top: calc(100% - var(--padding));
        left: 0;
        background-color: white;
        width: 100%;
        height: 1.5vmin;
        transform: scaleX(0);
        transition: transform var(--duration) var(--delay) var(--ease);
      }

      span {
        display: block;
        transform: translateY(110%);
        transition: transform var(--duration) var(--ease);
      }

      .is-active & {
        &::after {
          transform: scaleX(1);
          transition-delay: 0s;
        }

        span {
          transform: translateY(0);
          transition-delay: var(--delay);
        }
      }
    }

    &__subject-wrapper {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
}

.container__headline {
  font-size: 5vmin;
}

.intro__desc {
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
}

// body {
//   background-color: $bg-color;
//   // overflow-x: hidden
// }

// .header {
//   width: 100%;
//   height: 100vh;
// }

// .footer {
//   width: 100%;
//   height: 100vh;
// }


// // // INTRO(1)
// .intro__state {
//   @include desktop {
//     position: relative;
//   }

//   @include mobile {
//     max-width: none;
//     padding: rem(20px);
//   }

//   .state {
//     &__title {
//       font-weight: 700;
//       text-align: center;

//       @include desktop {
//         font-size: 5vw;
//       }

//       @include mobile {
//         font-size: 10.66666666666667vw;
//         word-break: keep-all;
//       }
//     }

//     &__list {
//       @include desktop {
//         margin-top: 6%;

//         &:after {
//           content: "";
//           display: block;
//           clear: both;
//         }
//       }

//       @include mobile {
//         @include flexbox(column);
//       }
//     }


//     &__subject {
//       font-weight: 700;
//       margin-top: 4%;

//       @include desktop {
//         display: inline-block;
//         font-size: 3vw;
//         padding: 0 4%;

//       }

//       @include mobile {
//         font-size: 6.4vw;
//       }
//     }

//     &__image {
//       @include desktop {
//         float: left;
//         width: 51%;

//         img {
//           // object-fit: cover;
//           // width: 100%;
//           height: 100%;
//         }
//       }

//       @include mobile {
//         order: -1;
//         margin-top: 5%;

//         img {
//           width: 100%;
//           height: auto;
//         }
//       }
//     }

//     &__description {
//       margin-top: 3%;

//       @include desktop {
//         float: right;
//         width: 49%;
//         // width: 1px;
//         font-size: 1.3333333333333333vw;
//         padding: 0 4%;
//         line-height: 1.5;

//         bold {
//           font-size: 2vw;
//         }
//       }

//       @include mobile {
//         font-size: 5.333333333333333vw;
//         line-height: 1.5;

//         bold {
//           font-size: 6vw;
//         }
//       }
//     }

//     &__more {
//       @include desktop {
//         width: 49%;
//         height: 10.37306642402184%;
//         position: absolute;
//         padding: 0 4%;
//         bottom: 0;
//         right: 0;
//         margin-bottom: rem(16px);
//       }

//       @include mobile {
//         @include flexbox(row, flex-end, center);
//         height: rem(57px);
//       }


//       @at-root .more {

//         &__text {
//           @include desktop {
//             position: absolute;
//             top: 50%;
//             transform: translateY(-50%);
//             font-size: 1.6666666666666667vw;
//             padding: rem(8px) 0;
//           }

//           @include mobile {
//             font-size: 4.266666666666667vw;
//             margin-right: 4%;
//           }
//         }

//         &__arrow {
//           @include desktop {
//             position: absolute;
//             left: 32%;
//             width: 9.693877551020408%;
//             height: 100%;
//             @include flexbox(row, center, center);
//             background-color: $blue1;
//             border-radius: 50%;

//             [aria-hidden] {
//               color: $white;
//               font-size: 2vw;
//             }
//           }

//           @include mobile {
//             @include flexbox(row, center, center);
//             background-color: $blue1;
//             border-radius: 50%;
//             width: rem(57px);
//             height: rem(57px);

//             [aria-hidden] {
//               color: $white;
//               font-size: 3vw;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// // // INTRO(2)
// .intro__statistics {
//   // background-color: skyblue;

//   .statistics {
//     &__list {
//       @include desktop {
//         @include flexbox(row);
//       }

//       @include mobile {
//         max-width: none;
//       }
//     }

//     &__item {

//       @include desktop {
//         width: 50%;
//         padding: rem(50px);
//       }

//       @include mobile {
//         width: 100%;
//       }

//     }

//     &__canvas {}

//     &__canvas--pie {}

//     &__canvas--line {}
//   }

//   display: none;

// }

// // // INTRO(3)
// .intro__zero-waste {
//   // background-color: skyblue;

//   .zero-waste {
//     &__image {
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }

//     &__image.active {
//       width: 100%;
//       opacity: 1;
//       transition: opacity 0s, width 2s;

//       &>img {
//         transform: scale(1);
//         transition: 1s ease-out;
//       }
//     }

//     &__title {
//       font-size: 5vw;
//       font-weight: 700;
//       text-align: center;
//       text-transform: uppercase;
//       margin-top: 3%;
//     }


//     &__description {
//       font-size: 2vw;
//       text-align: center;
//       margin-top: 2%;
//       line-height: 1.5;
//     }
//   }

//   display: none;
// }