@use './../utils' as *;

// STATUS components==============
.is-flex-active{
    display: flex !important;
}
.desactivate{
    display: none !important;
}

// Defult form components=========
.button {
    appearance: none;
    // pointer-events: none;
    border: 0;
    background : $primary;
    color: $white;
    padding: rem(8px) rem(16px);
    font-size: rem(32px);
    border-radius: rem(4px);
}

// START MBTI CUSTOM ==========================================
.mbti{
    @include autoMargin;
    overflow: hidden;

    width: 40vw;
    min-width: rem(767px);
    height: 70vh;
    min-height: rem(660px);
    text-align: center;
    padding: rem(32px);
    //center
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile{
        width: 100%;
    }

    // //start page
    // &__heading{
    //     font-size: rem(45px);
    // }
    // &__start-btn{
    //     @include boxSizeFull(700px);
    //     height: rem(64px);
    //     margin: rem(42px) 0;
    //     font-size: rem(32px);
    // }
    &__survey{
        width: 100%;
        height: 70%;
    }
    // 페이지 게이지
    // &__range{
    //     width: 100%;
    //     height: 20%;
    // }
    // 질문지
    // TODO:atroot
    &__field{

        
    }

    // &__bg-wave{
    //     background-image: url("../../src/images/mbti-bg-wave.svg");
    //     background-size: 250%;

    //     position: absolute;
    //     top: 25%;
    //     left: -50%;
    //     // transform: translateX(50%);
    //     width: 100vw;
    //     padding: 0;
    //     background-color: red;
    //     //animation: waves 6s alternate infinite;

    //     &--deepblue{
    //         fill: $primary;
    //     }

    // }

    // @keyframes waves {
    //     0%{
    //         transform: translateX(-25%);
    //     }
    //     100%{
    //         transform: translateX(75%);
    //     }
    // }
}

.mbti-bg{
    @include autoMargin;
    overflow: hidden;
    z-index: -1;

    width: 40vw;
    min-width: rem(767px);
    height: 70vh;
    min-height: rem(660px);
    background-color: $primary;
    text-align: center;
    border-radius: rem(20px);
    // border: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    //center
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    @include mobile{
        width: 100%;
    }

    &__wave{
        height: 60%;
    }
    &__bear{
        width: 30%;
        position: absolute;
        top: -50%;
        animation: up-down;
        // z-index: 10;
    }
}

@keyframes up-down {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(30%);
    }
}

.field{
    width: 100%;
    height: 100%;
    margin-top: 25%;
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    font-size: rem(28px);
    
    &__q{
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 3rem;
        bottom: 70%;
    }
    &__radio{
        appearance: none;
    }
    &__label{
        cursor: pointer;
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        padding: rem(32px) rem(16px);
        border-radius: rem(8px);
        background-color: $primary;
        color: $white;
        margin-top: rem(16px);
    }   
}

//======================
//mbti-r

.mbti-r{
    
    position: absolute;
    top: 0;
    min-height: 100%;
    background-color: $blue3;
    font-size: rem(24px);
    line-height: rem(60px);

    @include mobile{
        padding: rem(92px) 5% 5% 5%;
    }
    
    @include desktop{
        position: static;
        padding: 5%;
        @include autoMargin;
        width: 60vw;
        min-width: rem(767px);
        margin-top: rem(120px);
        //TODO: @mixin으로 빼기
        border-radius: rem(20px);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    
    &__result{
        text-align: center;
        &--bigger{
            font-size: rem(32px);
        }
    }

    &__image{
        margin: rem(40px) 0;
    }

    &__detail{
        text-indent: rem(32px);
    }
}