@use './../utils' as *;

// STATUS components==============
.is-active{
    display: block !important;
}
.desactivate{
    display: none !important;
}

// Defult form components=========
.button {
    appearance: none;
    // pointer-events: none;
    border: 0;
    background : $black;
    color: $white;
    padding: rem(8px) rem(16px);
    font-size: rem(16px);
    border-radius: rem(4px);
}

// START MBTI CUSTOM ==========================================
.mbti{
    @include autoMargin;
    overflow: hidden;

    width: 40vw;
    min-width: rem(767px);
    height: 70vh;
    min-height: rem(660px);
    background-color: purple;
    text-align: center;
    padding: rem(32px);
    //center
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile{
        width: 100%;
    }

    //start page
    &__heading{
        font-size: rem(45px);
    }
    &__start-btn{
        @include boxSizeFull(700px);
        height: rem(64px);
        margin: rem(42px) 0;
        font-size: rem(32px);
    }
    &__survey{
        height: 100%;
    }
    // 페이지 게이지
    // &__range{
    //     width: 100%;
    //     height: 20%;
    // }
    // 질문지
    // TODO:atroot
    &__field{
        background-color: pink;
        width: 100%;
        // height: 80%;
        display: none;
        position: relative;
        &--activate{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        &__q{
            position: absolute;
            font-size: rem(32px);
            top: 0;
        }
        &__radio{
            appearance: none;
        }
        &__label{
            cursor: pointer;
            display: block;
            width: 100%;
            height: auto;
            text-align: center;
            padding: rem(32px) rem(16px);
            border-radius: rem(8px);
            background-color: $primary;
            color: $white;
            margin-top: rem(16px);
        }   
        
    }

    &__bg-wave{
        background-image: url("../../src/images/mbti-bg-wave.svg");
        background-size: 250%;

        position: absolute;
        top: 25%;
        left: -50%;
        // transform: translateX(50%);
        width: 100vw;
        padding: 0;
        background-color: red;
        //animation: waves 6s alternate infinite;

        &--deepblue{
            fill: $primary;
        }

    }

    @keyframes waves {
        0%{
            transform: translateX(-25%);
        }
        100%{
            transform: translateX(75%);
        }
    }
}
