// range
@mixin range($bgTrack: $primary, $bgThumb: $primary, $thumbSizePx: 50px){
    input[type=range]{
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */
    
        background-color: $bgTrack;
        border-radius: rem(3px);
        height: rem(12px);
        margin-bottom: rem($thumbSizePx);
    }
    input[type=range]::-webkit-slider-thumb {
        //::-moz-range-thumb, ::-ms-thumb 둘다 해줘야 함
        -webkit-appearance: none;
        appearance: none;
        height: rem($thumbSizePx);
        width: rem($thumbSizePx);
        background-color: $bgThumb;
        border-radius: 50%;
    }
    
    input[type=range]:focus {
        outline: none;
        // border: 1px solid pink;
    }
}