@use '../utils' as *;
@use '../config' as *;

.visual {
    position: relative;
    overflow: hidden;
    height: 100vh;

    &__heading {
        position: absolute;
        top: 20%;
        padding: rem(20px);
        display: block;
        width: 100%;
        font-family: 'Bebas Neue';
        font-size: rem(120px);
        & span {
            display: block;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
    &__background {
        display: inline-block;
        width: 100vw;
        height: 100%;
        @include mobile {
            background: url('../../src/images/visual__background.jpeg') no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }
        @include desktop {
            background: url('../../src/images/visual__background2X.jpeg') no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }
    }
}

.blank {
    width: 100%;
    height: 1000px;
    background: $bg-color;
}