//  기본 색상 --------------------------------------------------------- /
$white: #ffffff;
$black: #101010;
$blue1: #0C2331;
$blue2: #103E58;
$blue3: #F0F7FB;
$gray: #333333;

$primary: $blue2;
$text-color: $blue1;
$text-color2: $gray;
$bg-color: $blue3;