@use '../utils'as *;
@use '../config'as *;

.topic {

    width: 100vw;

    &__heading {
        @include a11yHidden;
    }

    &__headline {
        width: 100wh;
        height: 100vh;
        background-color: #000;

        &-content {
            @include boxSizeMax;
        }

        &-text1 {
            @include fontStyles(50px, 700, 1.5, #FFF);
            animation: typing 2s steps(22), blink .5s step-end infinite alternate;

        }

        &-text2 {
            @include fontStyles(70px, 700, 1.5, #FFF);
            animation: typing 2s steps(22), blink .5s step-end infinite alternate;

        }
    }

    &__list {
        position: relative;
        height: 500vh;
    }

    &__items {
        display: block;
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        clip: rect(0 auto auto 0);
        overflow: hidden;
    }

    &__items:nth-child(1) {
        background-color: darkslategray;
        top: 0;
    }

    &__items:nth-child(2) {
        background-color: darksalmon;
        top: 100vh;
    }

    &__items:nth-child(3) {
        background-color: darkslateblue;
        top: 200vh;
    }

    &__items:nth-child(4) {
        background-color: darkred;
        top: 300vh;
    }

    &__items:nth-child(5) {
        background-color: darkseagreen;
        top: 400vh;
    }

    &__container {
        @include boxSizeMax;
    }

    &__slogan {
        display: block;

        max-width: 1200px;
        margin: 0 auto;
        position: fixed;
        color: $bg-color;
        z-index: 10;
        width: 100%;
        color: $primary;

        @include mobile {
            top: 50%;
        }

        @include desktop {
            top: 30%;
        }

        &--eng {
            font-weight: 700;
            text-align: left;
            @include mobile {
                font-size: 15vmin;
                letter-spacing: rem(20px);
            }

            @include desktop {
                font-size: 15vmin;
                letter-spacing: rem(30px);
            }
        }

        &--emp {
            padding: 0;

            @include mobile {
                font-size: 35vmin;
            }

            @include desktop {
                font-size: 50vmin;
            }
        }

        &--kor {
            font-weight: 400;
            right: 0;
            font-size: 2.5rem;
            text-align: right;
            position: fixed;
            top: 20%;
            left: 45%;
            max-width: 600px;
            word-break: keep-all;
            line-height: 1.3;

            @include mobile {
                font-size: 6vmin;
            }

            @include desktop {
                font-size: 10vmin;
            }
        }
    }

}