@use '../config' as *;
@use '../utils' as *;
@use '../components' as *;

// START MBTI CUSTOM ==========================================
.mbti{
    @include autoMargin;
    overflow: hidden;

    // text-align: center;
    //center
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 7% 4%;

    @include desktop{
        padding: rem(28px);
        width: 40vw;
        min-width: rem(767px);
        height: 70vh;
        min-height: rem(660px);
    }

    &__survey{
        width: 100%;
        height: 100%;
    }
}

.mbti-bg{
    @include autoMargin;
    overflow: hidden;
    z-index: -1;
    background-color: $primary;
    text-align: center;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include desktop{
        @include shadowBox;
        width: 40vw;
        min-width: rem(767px);
        height: 70vh;
        min-height: rem(660px);
    }
    width: 100%;
    height: 100%;

    // @include mobile{
    // }

    &__wave{
        top: 40%;
        height: 0;
    }
    @at-root .mbti-wave {
        top: -129px !important;
        transform: scaleY(40%) !important;
    }
    @at-root .mbti-block {
        height: 2000px;
        background: $bg-color;
    }
    &__bear{
        width: 200px;
        height: auto;
        position: absolute;
        top: 15vh;
        left: 50%;
        transform: translate(-50, 0);
        animation: up-down 5s ease-in-out infinite alternate;
        // z-index: 10; 
    }
}

@keyframes up-down {
    0%{
        transform: translate(-50%, -10%);
    }
    50%{
        transform: translate(-50%, 10%);
    }
    100% {
        transform: translate(-50%, -10%);
    }
}

.field{
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    @include desktop{
    }
    &__q{
        position: absolute;
        // text-align: center;
        width: 100%;
        font-size: rem(32px);
        font-weight: 700;
        bottom: 40%;
    }
    &__radio{
        appearance: none;
        display: none;
    }
    &__label{
        @include button();
        font-size: rem(24px);
        cursor: pointer;
        display: block;
        width: 100%;
        height: auto;
        margin-top: rem(16px);
    }  

    &__result{
        height: 6rem;
        text-align: center;
        line-height: 5rem;
        font-size: rem(24px);
    }
}