@use '../config' as *;
@use '../utils' as *;

// START MBTI CUSTOM ==========================================
.mbti{
    @include autoMargin;
    overflow: hidden;

    width: 40vw;
    min-width: rem(767px);
    height: 70vh;
    min-height: rem(660px);
    text-align: center;
    padding: rem(32px);
    //center
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile{
        width: 100%;
    }

    &__survey{
        width: 100%;
        height: 70%;
    }
}

.mbti-bg{
    @include autoMargin;
    overflow: hidden;
    z-index: -1;

    width: 40vw;
    min-width: rem(767px);
    height: 70vh;
    min-height: rem(660px);
    background-color: $primary;
    text-align: center;
    border-radius: rem(20px);
    // border: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    //center
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    @include mobile{
        width: 100%;
    }

    &__wave{
        height: 60%;
    }
    &__bear{
        width: 30%;
        position: absolute;
        top: -50%;
        animation: up-down 3s ease-in-out infinite;
        // z-index: 10;
    }
}

@keyframes up-down {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0);
    }
}

.field{
    width: 100%;
    height: 100%;
    margin-top: 25%;
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    font-size: rem(28px);
    
    &__q{
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 3rem;
        bottom: 70%;
    }
    &__radio{
        appearance: none;
    }
    &__label{
        cursor: pointer;
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        padding: rem(32px) rem(16px);
        border-radius: rem(8px);
        background-color: $primary;
        color: $white;
        margin-top: rem(16px);
    }   
}