@use '../config' as *;
@use '../utils' as *;
@use '../components' as *;

//======================
//mbti-r

.mbti-r{
    
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: $blue3;
    font-size: rem(24px);
    line-height: rem(60px);

    @include mobile{
        padding: rem(92px) 5% 5% 5%;
    }
    
    @include desktop{
        position: static;
        padding: 8%;
        @include autoMargin;
        width: 60vw;
        min-width: rem(767px);
        margin-top: rem(120px);
        @include shadowBox;
        &__share{
            margin-top: 2rem;
        }
    }
    &__container{
        width: 100%;
    }
    &__result{
        text-align: center;
        &--bigger{
            font-size: rem(32px);
        }
    }

    &__image{
        margin: rem(40px) 0;
    }

    &__detail{
        margin-bottom: 1rem;
    }
    &__share{
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
    }
    &__btn{
        margin-top: 2rem;
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}

.sprite{
    background-image: url("../../src/images/mbti-sprite.png");
    background-repeat: no-repeat;
    display: block;
    &--r1{
        @include autoMargin;
        background-position: 0 0;
        width: 180px;
        height: 266px;
    }
    &--r2{
        @include autoMargin;
        background-position: 28% 0;
        width: 227px;
        height: 266px;
    }
    &--r3{
        @include autoMargin;
        background-position: 61% 0;
        width: 227px;
        height: 266px;
    }
    &--r4{
        @include autoMargin;
        background-position: 100% 0;
        width: 290px;
        height: 266px;
    }
    &--kakao{
        @include trick-indent;
        background-position: 0% 97%;
        width: 76px;
        height: 72px; 
    }
    &--insta{
        @include trick-indent;
        background-position: 9% 97%;
        width: 78px;
        height: 72px;
    }
    &--fb{
        @include trick-indent;
        background-position: 19% 97%;
        width: 72px;
        height: 72px;
    }
    &--download{
        @include trick-indent;
        background-position: 28% 98%;
        width: 76px;
        height: 72px;
    }
}